.blue-button {
    -fx-background-color: #72A1E5;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
    -fx-font-size: 20px;
    -fx-font-family: Calibri;
    -fx-text-fill: #fff;
}

.blue-button:hover {
    -fx-background-color: #b9cdfa;
}

.big-label {
    -fx-font-size: 18px;
}


